@font-face {
  font-family: Nunito;
  src: url(../font.ttf);
}

* {
  font-family: Nunito;
  box-sizing: border-box;
  margin: 0;
}

:root {
  --primary-color: #0083e6;
  --surface-color: #e0e0e0;
}

body {
  overflow-x: hidden;
  padding: 25px 10% 25px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--surface-color);
}

#logo {
  width: 50px;
  margin-bottom: 25px;
}

header {
  margin: 25px;
  padding: 10px 5px;
  height: 70px;
  width: 90%;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  border-radius: 50px;
  margin-bottom: 80px;
}

.sunken {
  background-color: var(--surface-color);
  box-shadow: inset 5px 5px 10px #d5d5d5, inset -5px -5px 10px #ebebeb;
}

nav {
  width: 100%;
}

.selected a,
nav ul li > a:hover,
nav ul li p:hover {
  background: #e0e0e0;
  color: var(--primary-color);
  box-shadow: 10px 10px 24px #d5d5d5, -10px -10px 24px #ebebeb;
}

nav ul li a,
nav ul li p {
  padding: 18px 70px;
  border-radius: 50px;
}

nav ul li p {
  cursor: default;
}

a {
  text-decoration: none;
}

a,
p {
  color: rgb(89, 89, 89);
}

ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0;
  justify-content: space-evenly;
}

.card {
  overflow: hidden;
  border-radius: 50px;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

footer {
  margin-top: 50px;
}

#links {
  font-size: x-small;
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px;
  margin-top: 25px;
}

.icon {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
}

.icon:hover {
  background-color: rgba(190, 190, 190, 0.575);
}

a:not(li a, .button):hover {
  color: #0083e6;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 15px;
}

.tag {
  box-shadow: inset 10px 10px 15px #d5d5d5, inset -10px -10px 15px #ebebeb;
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 0.8rem;
  width: fit-content;
}

section {
  width: 100%;
  margin-top: 80px;
  padding: 0 50px;
  display: flex;
  justify-content: space-evenly;
  height: min-content;
  flex-direction: column;
  align-items: center;
}

section h2 {
  margin-bottom: 50px;
}